html {
  scroll-behavior: smooth;
}

body {
 border: 10px inset coral;
 height: 100vh;
}

.Container { 
 display: block;
 float: right;
 text-align: center;
 margin: 0px;
 padding: 0px;
 height: 100vh;
 width: 73%;
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGWhySt4TcbC5ueDE0xk24WvX6ORuDcRXIvQ&s');
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-position:  right;
 overflow: scroll;
}

h1 {
 font-size: 64px;
 text-shadow: -2px -2px 0px white
              -2px 2px 0px white
              2px -2px 0px white
              2px 2px 0px white;
 color: black;

}

h4 {
 font-size: 49px;
 text-shadow: -2px -2px 0px white;
}

h5 {
 font-size: 39px;
}

.sidebar {
 padding: 0px;
 display: block;
 float: left;
 width: 27%;
 height: 100vh; 
 text-align: center;
 font-size: 40px;
 margin: 0px;
 background-image: url('../Images/CaptureIndiaFlag.jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: left;
 overflow: scroll;
}

.sidebar a {
 color: black ;
}

.sidebar a:visited {
 color: black;
}
 
.sidebar a:hover {
 color: orange;
 font-size: 49px;
 }

.size {
 font-size: 39px;
}


